body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}
#app{
    background-color: rgb(66, 12, 12);
}
#game{
    background-color: azure;
}
.line{
    height: 6px;
    background-color: aquamarine;
    margin: 8px auto;
    width:70px;
}
